<?xml version="1.0" encoding="utf-8" ?> 
  <ClientConfig>
    <Enabled>true</Enabled>
    <ServerAddress>http://120.79.144.79:10085/clientapp/</ServerAddress>
    <ServerUrl>http://120.79.144.79:10085/clientapp/AutoupdateService.xml</ServerUrl>
    <UpdateFileList>
      <LocalFile path="ICIMS.Launcher.exe" lastver="1.0.0.0" size="100352" />
    </UpdateFileList>
  </ClientConfig>
 