<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ICIMS.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="3.0.2.4-4.0.0.196" newVersion="4.0.0.196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Saraff.Twain" publicKeyToken="467d7c56f22cafb6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.27.606" newVersion="1.0.27.606" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ICIMS.Client.Properties.Settings>
      <setting name="MainProgramName" serializeAs="String">
        <value>ICIMS.Client.exe</value>
      </setting>
      <setting name="LocalPath" serializeAs="String">
        <value>D:\</value>
      </setting>
      <setting name="ServerApi" serializeAs="String">
        <!--<value>http://120.79.144.79:10085/</value>-->
        <value>http://localhost:21025/</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
    </ICIMS.Client.Properties.Settings>
  </userSettings>
</configuration>
